[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6'

[packages]
Babel = "==2.6.0"
celery = ">=4.2.0,<4.3"
chardet = "==3.0.4"
decorator = "==4.0.11"
docutils = "==0.12"
ebaysdk = "==2.1.5"
feedparser = "==5.2.1"
gevent = "==1.2.1"
greenlet = "==0.4.15"
"html2text" = "==2017.10.4"
"jinja2" = "==2.10"
libsass = "==0.12.3"
lxml = "==4.2.5"
mako = "==1.0.4"
markupsafe = "==1.0"
mock = "==2.0.0"
"num2words" = "==0.5.4"
ofxparse = "==0.16"
passlib = "==1.6.5"
pillow = "==4.0.0"
psutil = "==4.3.1"
"psycopg2" = "==2.7.4"
pydot = "==1.2.3"
pyldap = "==2.4.28"
pyparsing = "==2.1.10"
"pypdf2" = "==1.26.0"
pyserial = "==3.3"
python-dateutil = "==2.5.3"
pytz = "==2018.5"
pyusb = "==1.0.0"
pyyaml = "==3.13"
qrcode = "==5.3"
raven = "==6.9.0"
reportlab = "==3.3.0"
requests = "==2.13.0"
Shapely = "==1.5.17"
suds-jurko = "==0.6"
vatnumber = "==1.2"
vobject = "==0.9.3"
werkzeug = "==0.12.2"
xlsxwriter = "==0.9.3"
xlwt = "==1.3.*"
xlrd = "==1.0.0"
xoeuf = ">=0.47.0"
xoutil = ">=1.9.7,<2.0"
odoo = {editable = true, path = "."}

[dev-packages]
hypothesis = ">=3.70"
ipython = "==5.5"
ipdb = "*"
watchdog = "*"
sphinx = ">=1.8.1,<1.9"
sphinx-bootstrap-theme = "*"
mypy = "==0.630"
